{% extends 'base.admin.html.twig' %}

{% block body %}

	<ul>

		<li>
			Identifiant :
			{{ post.id }}
		</li>

		<li>
			Titre :
			{{ post.title }}
		</li>

		<li>
			Description :
			{{ post.description }}
		</li>

		<li>
			Contenu :
			{{ post.content }}
		</li>

		<li>
			Slug :
			{{ post.slug }}
		</li>

		<li>
			Crée le :
			{{post.createdAt|date("d/m/Y")}}
		</li>

		<li>
			Publié le :
			{{post.publishedAt|date("d/m/Y")}}
		</li>

		<li>
			Mis à jours le :
			{{post.updatedAt|date("d/m/Y")}}
		</li>
		<li> Catégories : </li>
			{% for category in post.categories %}					
					{{ category.name }}
					<br>
		{% else %}
				Pas de catégorie pour ce post trouvé.
		{% endfor %}

	</ul>


{% endblock %}
